<!DOCTYPE html>
<html>

<head>
    <title>Semester 2</title>
    <link rel="stylesheet" href="../stylesheet/sem1/sem1.css" type=text/css>
    <link rel="stylesheet" href="../stylesheet/buttons.css" type=text/css>
    <link rel="stylesheet" href="../stylesheet/home_social.css" type=text/css>


</head>

<body>
    <!--This is my comment-->
    <div class="wrapper no-scrollbar">

        <div class=header>
            <h1 class=head>notestack</h1>

            <div class="headmenu">
                <ul>
                    <li><a href="/index">Home</a></li>
                    <li><a href="#">Semester</a>
                        <ul class="dropdown">
                            <li><a href="/sem1">Sem One</a></li>
                            <li><a href="/sem2">Sem Two</a></li>
                        </ul>
                    </li>
                    <li><a href="#">Contact Us</a></li>
                </ul>
            </div>

        </div>

        <br><br>
        <hr>

        <h4>[PH101] Physics </h4>
        <div>
            <ul class="hs full">

                <% doc.forEach(function(Doc){ %>
                    <% if(Doc.subject_code=="PH101"){ %>
                        <li class="item">
                            <div class="flip">
                                <div class="front" style="background-image: url(../image/cover/physics.jpg)">
                                    <h1 class="text-shadow">
                                        <%= Doc.subject_code %>
                                    </h1>
                                    <h1 class="authorname">
                                        <%= Doc.subject_topic%> <br><span class="date"> <%= Doc.dateuploaded %></span></h1>
                                </div>
                                <div class="back">
                                    <h2>About</h2>
                                    <p>Author :
                                        <%= Doc.author %>
                                    </p>
                                    <p>Section :
                                        <%= Doc.authorsection %>
                                    </p>
                                    <a href="<%= Doc.pdfurl %>" class="btn3">Read More
                              </a>
                                </div>
                            </div>
                        </li>
                        <% } %>
                            <% }) %>

            </ul>
        </div>



        <h4>[EE101] Basic Electrical Engineering </h4>
        <div>
            <ul class="hs full">

                <% doc.forEach(function(Doc){ %>
                    <% if(Doc.subject_code=="EE101"){ %>
                        <li class="item">
                            <div class="flip">
                                <div class="front" style="background-image: url(../image/cover/bee.jpg)">
                                    <h1 class="text-shadow">
                                        <%= Doc.subject_code %>
                                    </h1>
                                    <h1 class="authorname">
                                        <%= Doc.subject_topic%> <br><span class="date"> <%= Doc.dateuploaded %></span></h1>
                                </div>
                                <div class="back">
                                    <h2>About</h2>
                                    <p>Author :
                                        <%= Doc.author %>
                                    </p>
                                    <p>Section :
                                        <%= Doc.authorsection %>
                                    </p>
                                    <a href="<%= Doc.pdfurl %>" class="btn3">Read More
                              </a>
                                </div>
                            </div>
                        </li>
                        <% } %>
                            <% }) %>

            </ul>
        </div>

        <h4>[ME101] Mechanics </h4>
        <div>
            <ul class="hs full">

                <% doc.forEach(function(Doc){ %>
                    <% if(Doc.subject_code=="ME101"){ %>
                        <li class="item">
                            <div class="flip">
                                <div class="front" style="background-image: url(../image/cover/mechanics.jpg)">
                                    <h1 class="text-shadow">
                                        <%= Doc.subject_code %>
                                    </h1>
                                    <h1 class="authorname">
                                        <%= Doc.subject_topic%> <br><span class="date"> <%= Doc.dateuploaded %></span></h1>
                                </div>
                                <div class="back">
                                    <h2>About</h2>
                                    <p>Author :
                                        <%= Doc.author %>
                                    </p>
                                    <p>Section :
                                        <%= Doc.authorsection %>
                                    </p>
                                    <a href="<%= Doc.pdfurl %>" class="btn3">Read More
                              </a>
                                </div>
                            </div>
                        </li>
                        <% } %>
                            <% }) %>

            </ul>
        </div>


        <h4>HS[101] Communicative English</h4>
        <div>
            <ul class="hs full">

                <% doc.forEach(function(Doc){ %>
                    <% if(Doc.subject_code=="HS101"){ %>
                        <li class="item">
                            <div class="flip">
                                <div class="front" style="background-image: url(../image/cover/english.jpg)">
                                    <h1 class="text-shadow">
                                        <%= Doc.subject_code %>
                                    </h1>
                                    <h1 class="authorname">
                                        <%= Doc.subject_topic%> <br><span class="date"> <%= Doc.dateuploaded %></span></h1>
                                </div>
                                <div class="back">
                                    <h2>About</h2>
                                    <p>Author :
                                        <%= Doc.author %>
                                    </p>
                                    <p>Section :
                                        <%= Doc.authorsection %>
                                    </p>
                                    <a href="<%= Doc.pdfurl %>" class="btn3">Read More
                              </a>
                                </div>
                            </div>
                        </li>
                        <% } %>
                            <% }) %>

            </ul>
        </div>
        <h4>CE[101] Engineering Graphics and Design </h4>
        <div>
            <ul class="hs full">

                <% doc.forEach(function(Doc){ %>
                    <% if(Doc.subject_code=="CE101"){ %>
                        <li class="item">
                            <div class="flip">
                                <div class="front" style="background-image: url(../image/cover/egd.jpg)">
                                    <h1 class="text-shadow">
                                        <%= Doc.subject_code %>
                                    </h1>
                                    <h1 class="authorname">
                                        <%= Doc.subject_topic%> <br><span class="date"> <%= Doc.dateuploaded %></span></h1>
                                </div>
                                <div class="back">
                                    <h2>About</h2>
                                    <p>Author :
                                        <%= Doc.author %>
                                    </p>
                                    <p>Section :
                                        <%= Doc.authorsection %>
                                    </p>
                                    <a href="<%= Doc.pdfurl %>" class="btn3">Read More
                              </a>
                                </div>
                            </div>
                        </li>
                        <% } %>
                            <% }) %>

            </ul>
        </div>


        <h4>[MA102] Mathematics </h4>
        <div>
            <ul class="hs full">

                <% doc.forEach(function(Doc){ %>
                    <% if(Doc.subject_code=="MA102"){ %>
                        <li class="item">
                            <div class="flip">
                                <div class="front" style="background-image: url(../image/cover/maths.jpg)">
                                    <h1 class="text-shadow">
                                        <%= Doc.subject_code %>
                                    </h1>
                                    <h1 class="authorname">
                                        <%= Doc.subject_topic%> <br><span class="date"> <%= Doc.dateuploaded %></span></h1>
                                </div>
                                <div class="back">
                                    <h2>About</h2>
                                    <p>Author :
                                        <%= Doc.author %>
                                    </p>
                                    <p>Section :
                                        <%= Doc.authorsection %>
                                    </p>
                                    <a href="<%= Doc.pdfurl %>" class="btn3">Read More
                              </a>
                                </div>
                            </div>
                        </li>
                        <% } %>
                            <% }) %>

            </ul>
        </div>


    </div>


    <div class="foot">
        <div class="fingers">
            <a class="footlink"><b>Semesters</b></a>
            <a class="footlink" href="/sem1">1st Sem</a>
            <a class="footlink" href="/sem2">2nd Sem</a>
        </div>
        <div class=fingers>
            <a class="footlink"><b>Contact Us</b></a>

            <ul class="social-networks spin-icon">
                <br>

                <li><a href="https://www.facebook.com/" class="icon-facebook">Facebook</a></li>



                <li><a href="https://instagram.com" class="icon-instagram">Instagram</a></li>

            </ul>
        </div>

        <div class=fingers>
            <a class="footlink"><b>About</b></a>
            <a class="footlink">Idea</a>
            <a class="footlink">Services</a>
        </div>
    </div>

    <!-- Footer -->



</body>

<script>
</script>

</html>