<!DOCTYPE html>
<html>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1" />

  <head>
    <title>Semester 2</title>
    <link
      rel="stylesheet"
      href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
      integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh"
      crossorigin="anonymous"
    />
    <link rel="stylesheet" href="../stylesheet/sem/sem.css" type=text/css> <link
    rel="stylesheet" href="../stylesheet/cards.css" type=text/css> <link
    rel="stylesheet" href="../stylesheet/buttons.css" type=text/css> <link
    rel="stylesheet" href="../stylesheet/home_social.css" type=text/css>
  </head>

  <body style="overflow-x: hidden; text-align: initial;">
    <div class="wrapper no-scrollbar">
      <div class="header">
        <h1 class="head">
          notestack<span style="font-size: 0.4em;"> #2</span>
        </h1>

        <div class="headmenu">
          <ul>
            <li><a href="/home">Home</a></li>
            <li><a href="/sem/1">Sem One</a></li>
            <li><a href="/sem/2">Sem Two</a></li>
            <li><a href="/logout">Log Out</a></li>
          </ul>
        </div>
      </div>

      <br /><br />
      <hr />

      <p>[PH101] Physics</p>
      <div>
        <ul class="hs full">
          <% doc.forEach(function(Doc){ %> <% if(Doc.subject_code=="PH101"){ %>
          <li class="item">
            <a href="<%= Doc.pdfurl %>" id="pdfLinks">
              <div class="mycard">
                <div
                  class="subjectIcon"
                  style="
                    background-image: url(../image/cover/physicsfront.gif);
                  "
                ></div>
                <h4 class="topicName"><%= Doc.subject_topic%></h4>
                <h4 class="topicAuthor">by <%= Doc.author %></h4>
                <h4 class="topicDate">on <%= Doc.dateuploaded %></h4>
              </div></a
            >
          </li>
          <% } %> <% }) %>
        </ul>
      </div>

      <p>[EE101] Basic Electrical Engineering</p>
      <div>
        <ul class="hs full">
          <% doc.forEach(function(Doc){ %> <% if(Doc.subject_code=="EE101"){ %>
          <li class="item">
            <a href="<%= Doc.pdfurl %>" id="pdfLinks">
              <div class="mycard">
                <div
                  class="subjectIcon"
                  style="background-image: url(../image/cover/ecfront.gif);"
                ></div>
                <h4 class="topicName"><%= Doc.subject_topic%></h4>
                <h4 class="topicAuthor">by <%= Doc.author %></h4>
                <h4 class="topicDate">on <%= Doc.dateuploaded %></h4>
              </div></a
            >
          </li>
          <% } %> <% }) %>
        </ul>
      </div>
      <p>[ME101] Mechanics</p>
      <div>
        <ul class="hs full">
          <% doc.forEach(function(Doc){ %> <% if(Doc.subject_code=="ME101"){ %>
          <li class="item">
            <a href="<%= Doc.pdfurl %>" id="pdfLinks">
              <div class="mycard">
                <div
                  class="subjectIcon"
                  style="background-image: url(../image/cover/mechfront.gif);"
                ></div>
                <h4 class="topicName"><%= Doc.subject_topic%></h4>
                <h4 class="topicAuthor">by <%= Doc.author %></h4>
                <h4 class="topicDate">on <%= Doc.dateuploaded %></h4>
              </div></a
            >
          </li>
          <% } %> <% }) %>
        </ul>
      </div>

      <p>HS[101] Communicative English</p>
      <div>
        <ul class="hs full">
          <% doc.forEach(function(Doc){ %> <% if(Doc.subject_code=="HS101"){ %>
          <li class="item">
            <a href="<%= Doc.pdfurl %>" id="pdfLinks">
              <div class="mycard">
                <div
                  class="subjectIcon"
                  style="background-image: url(../image/cover/hsfront.gif);"
                ></div>
                <h4 class="topicName"><%= Doc.subject_topic%></h4>
                <h4 class="topicAuthor">by <%= Doc.author %></h4>
                <h4 class="topicDate">on <%= Doc.dateuploaded %></h4>
              </div></a
            >
          </li>
          <% } %> <% }) %>
        </ul>
      </div>
      <p>CE[101] Engineering Graphics and Design</p>
      <div>
        <ul class="hs full">
          <% doc.forEach(function(Doc){ %> <% if(Doc.subject_code=="CE101"){ %>
          <li class="item">
            <a href="<%= Doc.pdfurl %>" id="pdfLinks">
              <div class="mycard">
                <div
                  class="subjectIcon"
                  style="background-image: url(../image/cover/egdfront.gif);"
                ></div>
                <h4 class="topicName"><%= Doc.subject_topic%></h4>
                <h4 class="topicAuthor">by <%= Doc.author %></h4>
                <h4 class="topicDate">on <%= Doc.dateuploaded %></h4>
              </div></a
            >
          </li>
          <% } %> <% }) %>
        </ul>
      </div>
      <p>[MA102] Mathematics</p>
      <div>
        <ul class="hs full">
          <% doc.forEach(function(Doc){ %> <% if(Doc.subject_code=="MA102"){ %>
          <li class="item">
            <a href="<%= Doc.pdfurl %>" id="pdfLinks">
              <div class="mycard">
                <div
                  class="subjectIcon"
                  style="background-image: url(../image/cover/mathfront.gif);"
                ></div>
                <h4 class="topicName"><%= Doc.subject_topic%></h4>
                <h4 class="topicAuthor">by <%= Doc.author %></h4>
                <h4 class="topicDate">on <%= Doc.dateuploaded %></h4>
              </div></a
            >
          </li>
          <% } %> <% }) %>
        </ul>
      </div>
    </div>
    <br />
    <hr />
    <div class="foot">
      <div class="fingers">
        <a class="footlink"><b>Semesters</b></a>
        <a class="footlink" href="/sem/1">1st Sem</a>
        <a class="footlink" href="/sem/2">2nd Sem</a>
      </div>
      <div class="fingers">
        <a class="footlink"><b>Contact Us</b></a>

        <ul class="social-networks spin-icon">
          <br />

          <li>
            <a href="https://www.facebook.com/" class="icon-facebook"
              >Facebook</a
            >
          </li>

          <li>
            <a href="https://instagram.com" class="icon-instagram">Instagram</a>
          </li>
        </ul>
      </div>

      <div class="fingers">
        <a class="footlink"><b>About</b></a>
        <a class="footlink" href="/udp">Idea</a>
        <a class="footlink" href="/home#main">Services</a>
      </div>
    </div>

    <!-- Footer -->
  </body>

  <script
    src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"
    integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6"
    crossorigin="anonymous"
  ></script>
  <script></script>
</html>
