<!DOCTYPE html>
<html>

<head>
    <title>Database</title>
    <link rel=stylesheet href="stylesheet/showdatabases/show.css" type="text/css">

</head>

<body>

    <table role="table">
        <thead role="rowgroup">
            <tr role="row">
                <th role="columnheader">Subject Code</th>
                <th role="columnheader">Semester</th>
                <th role="columnheader">Subject Topic</th>
                <th role="columnheader">Author Name</th>
                <th role="columnheader">Author Section</th>
                <th role="columnheader">Data Uploaded</th>
                <th role="columnheader">Mongoose id</th>

            </tr>
        </thead>
        <tbody role="rowgroup">
            <% doc.forEach(function(Doc){ %>
                <tr role="row">
                    <td role="cell">
                        <%= Doc.subject_code %>
                    </td>
                    <td role="cell">
                        <%= Doc.semester%>
                    </td>
                    <td role="cell">
                        <%= Doc.subject_topic%>
                    </td>
                    <td role="cell">
                        <%= Doc.author%>
                    </td>
                    <td role="cell">
                        <%= Doc.authorsection%>
                    </td>
                    <td role="cell">
                        <%= Doc.dateuploaded%>
                    </td>
                    <td role="cell">
                        <%= Doc._id%>
                    </td>
                    <td role="cell">
                        <form action="/sem/<%= number%>/delete/<%= Doc._id%>?_method=DELETE" id="delete" method="POST">
                            <button type="submit">Delete</button></form>

                    </td>
                </tr>
                <% }) %>
        </tbody>
    </table>

</body>

</html>